.imges{
	width: 75px;
}
h1{
	color: blue;
}
#post{
	position: absolute;
	top:17%;
	bottom:30%;
	left:50%;
	transform: translateX(-50%);
	display: block;
  width: 650px;
  height: 600px;
  border: 5px solid yellow;
  text-align: center;
  box-sizing: border-box;
  margin:auto;
  border-radius: 25px;
}
.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 22%;
}
#bgImg2{
	width: 100%;
}
.inpu{
	opacity: 0.45;
}