.layers {
	position: absolute;
	width:100%;
	z-index:-1;
}

/*.footer {
	position: relative;
}*/
#backimg{
	z-index: -5;
}
#content{
	position: absolute;
	margin: auto;
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
}
.postsdiv{
	text-align: center;

}
.header3{
	color: white;
}
.images{
	width: 75px;
}
#hea{
	border-bottom: 5px dotted white;
}
#bt{
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}