.layers {
	position: absolute;
	width:100%;
	z-index:-1;
}

}
.footer {
	position: relative;
}
#backimg{
	z-index: -5;
}
#content{
	position: absolute;
	margin: auto;
	z-index: 1;
}
.postsdiv{
	text-align: center;
}
.header3{
	color: #f4baa5;
}
.images{
	width: 75px;
}