#box{
	position: absolute;
	top:17%;
	bottom:30%;
	left:50%;
	transform: translateX(-50%);
	display: block;
  width: 350px;
  height: 205px;
  border: 5px solid yellow;
  padding-left: 50px;
  box-sizing: border-box;
  margin:auto;
  border-radius: 25px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

#box_1{
	z-index: 5;
}

.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 22%;
}
#usernameI{
	opacity: 0.45;
}

#usernameII{
	opacity: 0.45;

}
#bgImg{
	width: 100%;
}
