#div1 {
	position: absolute;
	top:17%;
	bottom:30%;
	left:50%;
	transform: translateX(-50%);
	display: block;
  width: 400px;
  height: 605px;
  border: 5px solid yellow;
  padding-left: 50px;
  box-sizing: border-box;
  margin:auto;
  border-radius: 25px;
}
.h1{
	
}

.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 22%;
}

.navfooter{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 22%;
}
#bgpic {
  width: 100%;
}
#op1{
  opacity: 0.5;
}
#op2{
  opacity: 0.5;
}
#op3{
  opacity: 0.5;
}
#op4{
  opacity: 0.5;
}
