<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='login.css') }}">

	<title>Login</title>
 
</head>
<body>
<div id="box">
	<h1>Log In</h1>

    <form action="/login" method="POST">

        <input type="text" name="name" placeholder="Enter UserName">
        <br> 
        <input type="password" name="password" placeholder="Enter Password">
            </br><br>
        <input type="submit" value="Login">
            </br>
	</form>
</div>


    

</body>
</html>