<!DOCTYPE html>
<html>
<head>
	 <link rel="stylesheet" href="signup.css">
	<title></title>
</head>
<body>
	<div id="div1">
	<h1>sign in</h1>
	<form action="/signup" method="post"><br>
		<input type="text" name="userName" placeholder="Enter new username">
	</br><br>
		<input type="password" name="password" placeholder="Enter new password">
	</br><br>
		<input type="number" name="age" placeholder="Enter your age">
	</br><br>
		<input type="number" name="phoneNumber" placeholder="Enter your phone number">
	</br><br>
	<h2>Choose your gender</h2>
		<input type="radio" name="gender" value="female">female
		<input type="radio" name="gender" value="male">male
		<input type="radio" name="gender" value="other">other
	</br><br>
	<h3>Choose your neiborhood</h3>
		<input type="radio" name="neiborhood" value="Tel-Aviv" >Tel-Aviv
		<input type="radio" name="neiborhood" value="Brooklyn" >Brooklyn
		<input type="radio" name="neiborhood" value="Berlin" >Berlin
		</br>
		<br>
			add profile image<input type="file" name="img">


		</br>
		<br>
		<input type="Submit" name="submit" placeholder="submit">
		</br>

	</div>

	</form>

</body>
</html>